:root{
--main-color: #212121;
--box-color: #2F303A;
--accent-color: #2196F3;
--contact-color: #757575;
--btn-bg-color: #F5F4FA;
--bckground-color:#FFFFFF;
--bot-adress-color:rgba(255, 255, 255, 0.6);
--line-color:#ECECEC;
--border-card-color:#EEEE;
--secondary-font-family: 'Raleway',
sans-serif;
--primaly-font-family: 'Roboto',
sans-serif;
}

body{
background-color: var(--bckground-color);
font-size: 14px;
letter-spacing: 0.03em;
font-family: var(--primaly-font-family);
line-height: 1.71;
}

.list{
list-style: none;
padding: 0;
margin: 0;
}

.link{
text-decoration: none;
}

.container{
width: 1200px;
margin: 0 auto;
}

h3, h2{
margin: 0;
}

p{
margin: 0;
}

hr{
border: 1px solid var(--line-color);
margin: 0;   
}

/*logo*/
.logo {
color: var(--main-color);
font-family: var(--secondary-font-family);
font-size: 26px;
line-height: 1.2;
display: block;
width: 145px;
margin-right: 93px;
}

.blue-color {
color: var(--accent-color);
}

.header{
max-width: 1600px;
display: flex;
padding-top: 24px;
padding-bottom: 25px;
margin-right: auto;
margin-left: auto;
}

.contacts-list{
margin-left: auto;
}

.header-item{
display: inline-block;
margin-right: 50px;
}

/*hero*/
.hero{
background-color: var(--box-color);
max-width: 1600px;
text-align: center;
padding: 200px 452px 280px 452px;
margin-bottom: 94px;
margin-right: auto;
margin-left: auto;
}

.hero-title{
color: var(--bckground-color);
font-family: var(--primaly-font-family);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
margin-bottom: 30px;
margin-top: 0;
}

/*button studio*/
.button {
background-color: var(--accent-color);
color: var(--bckground-color);
font-family: var(--primaly-font-family);
font-weight: 700;
font-size: 16px;
line-height: 1.87;
cursor: pointer;

border-radius: 4px transparent;
border-style: hidden;
padding: 10px 32px;
width: 200px;
height: 50px;
}

/*benefits*/

.benefits-list{
display: flex;
justify-content: space-between;
margin-bottom: 94px;
}

.section-item{
padding-right: 30px;
}

.benefits-title {
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
color: var(--main-color);
margin-bottom: 10px;
}

.benefits-text {
line-height: 1.71;
color: var(--contact-color);
width: 270px;
}

.section-title{
font-size: 36px;
line-height: 1.16;
color: var(--main-color);
text-align: center;
margin-bottom: 50px;
}

.photo-list{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 94px;
}

/*team*/
.team-color{
padding-top: 94px;
padding-bottom: 94px;
background-color: var(--btn-bg-color);
max-width: 1600px;
}

.team-list{
display: flex;
justify-content: space-between;
align-items: center;
}

.team-item{
box-sizing: 0;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.team-title{
text-align: center;
font-weight: 500;
font-size: 16px;
line-height: 1.1;
letter-spacing: 0.03em;
color: var(--main-color);
margin-top: 30px;
margin-bottom: 10px;
}

.team-text{
text-align: center;
line-height: 1.1;
letter-spacing: 0.03em;
color: var(--contact-color);
padding-bottom: 30px;
}


/*links*/
.nav-link,
.adress-link {
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-color);
}

.contact-link{
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--contact-color);      
}

.adress-link {
color: var(--bckground-color);
font-style: normal;
font-weight: 400;
}

.footer .contact-link {
font-style: normal;
font-weight: 400;
color: var(--bot-adress-color);
}

.visually-hidden {
position: absolute;
white-space: nowrap;
width: 1px;
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
margin: -1px;
}

.portfolio{
padding: 94px 0 94px 0;
}

/*buttons*/
.btn{
display: flex;
justify-content: center;
}

.btn-item{
margin-right: 8px;
}

.portfolio-btn{
border-radius: 4px transparent;
border-style: hidden;
padding: 6px 22px;
min-width: 73px;
text-align: center;
height: 38px;
min-width: 73px;
margin: 0;
}

.portfolio-btn.current,
.portfolio-btn:focus,
.portfolio-btn:hover{
background-color: var(--accent-color);
color: var(--btn-bg-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*cards*/
.cards{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-top: 50px;
}

.card-item{
width: 370px;
margin-bottom: 30px;
margin-right: 0;
border: 1px solid var(--border-card-color);
}

.card-title{
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--main-color);
margin: 20px 24px 4px 24px;
}

.card-text{
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--contact-color);
margin: 0 24px 20px 24px;
}

/*footer*/
.footer{
background-color: var(--box-color);
margin-top: 0px;
max-width: 1600px;
margin-right: auto;
margin-left: auto;
}

footer .link{
padding: 0;
}

footer .footer-list{
padding-bottom: 60px;
}

.footer-item{
margin-bottom: 9px;
}

footer .logo{
padding-top: 60px;
margin-bottom: 20px;
}

footer .logo{
color: var(--bckground-color);
}

.contact-link:focus,
.contact-link:hover,
.nav-link:focus,
.nav-link:hover,
.current {
color: var(--accent-color);
}